@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inherit;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.inner-column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%; 
    margin-left: auto;
    margin-right: auto;
    border: 2px rebeccapurple solid;
}

.itens, .logo {
    display: flex;
    margin: 0;
}

.logo {
    font-weight: 900;
    font-size: 28px;
    color: white;
}

.itens {
    font-size: 18px;
    font-weight: lighter;
    color: #e5e7eb;
}

.main {
    display: flex;
    background-color: #1f2937;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #505050;
    color: #e5e7eb;
    margin: 50px;
    height: 350px;
}

h1 {
    font-size: 51px;  
    margin: 0;
    margin-bottom: 10px;
}

.minor_text{
    font-size: 18px;
    color: #b6b6b6;
    margin-right: 15%;
}

.minor_button {
    margin-top: 10px;
}

button {
    font-size: 18px;
    font-weight: 900;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: rgb(0, 100, 100);
    color: white;
}

button:hover {
    background-color: rgb(0, 163, 163);
}

.h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 34px;
    text-align: center;
}

.info {
    display: flex;
    background-color: #ffffff;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
    color: #1f2937;
}

.inner-column2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-basis: 80%; 
    margin-left: auto;
    margin-right: auto;
    border: 2px rebeccapurple solid;
}

.info_cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info_card {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame {
    width: 150px;
    height: 150px;
    border: 4px solid rgb(0, 100, 100);
    border-radius: 50px;
}

.minor_text2 {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}